rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Functions
    function isAuthenticated() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    // Candidate Rules
    match /candidates/{candidateId} {
      allow read, write: if isOwner(candidateId);
    }
  }
}
